* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header {
    position: fixed;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: inline-block;
}

.logo img {
    height: 50px;
    margin: 10px;
}

/*nav*/

.nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav .mission {
    display: inline-flex;
    text-decoration: underline;
}
.nav .mission:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.nav .featured-tea {
    display: inline-flex;
    text-decoration: underline;
}
.nav .featured-tea:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.nav .locations {
    display: inline-flex;
    text-decoration: underline;
}
.nav .locations:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}